extends layout

block content
    h2 CC Attribution
    ul
        li Favicon and Knight icon: Knight by ProSymbols from the Noun Project
        li Pawn: chess pawn by Creative Stall from the Noun Project