extends layout

block content
    h2 CC Attribution
    //- ul
    //-     li Favicon and Knight icon: Knight by ProSymbols from the Noun Project
    //-     li Pawn: chess pawn by Creative Stall from the Noun Project
    //-     li King: chess king by Creative Stall from the Noun Project

    //- ul
    //-     li Bishop: Bishop by Richard Zeid from the Noun Project
    //-     li Pawn: Pawn by Richard Zeid from the Noun Project
    //-     li Knight: Knight by Richard Zeid from the Noun Project
    //-     li Queen: queen by Richard Zeid from the Noun Project
    //-     li King: King by Richard Zeid from the Noun Project
    //-     li Rook: rook by Richard Zeid from the Noun Project