extends layout

block append styles
    link(rel='stylesheet', href='/stylesheets/modules/chat.css')

block scripts
    script(defer, type="module", src="/javascripts/game-main.mjs")

block sidebar
    #chat-box
        #receive-area
        #send-area
            input(class="message-input")
            button(class="message-send")="Send"

block content

block extra
    #name-input-box 
        h2 Please enter your name:
        input(id="name-input")
        button(id="name-submit") Submit