:root {
    --chat-send-bg: blue;
    --chat-send-color: white;
    --chat-receive-bg: red;
    --chat-server-bg: yellow;

}
  
a {
    color: #00B7FF;
}

button {
    background-color: #00B7FF;
}

:disabled {
    background-color: transparent;
    border-color: whitesmoke;
    /* color: whitesmoke; */
}